<app-status-line [text]='"Verifying name"' [pass]="namePass" [details]="nameDetails"></app-status-line>
<app-status-line [text]='"Verifying email address"' [pass]="emailPass" [details]="emailDetails"></app-status-line>
<app-status-line [text]='"Verifying address"' [pass]="addressPass" [details]="addressDetails"></app-status-line>
<app-status-line [text]='"Verifying banking information"' [pass]="bankPass" [details]='["Routing Number: ********", "Account Number: ************"]'></app-status-line>
