<div class="package-image">
  <img [src]="package.image" class="w-100"/>
</div>

<div class="package-meta">
  <p class="package-meta-title">
    {{package.name}}
  </p>
  <p class="package-meta-price">
    {{package.price}}
  </p>
  <p class="package-meta-details">
    {{package.desc}}
  </p>
</div>

<div class="package-action">

  <div class="package-description">
    <ul class="check-list">
      <li *ngFor="let bullet of package.bullets">
        <i class="fa fa-check check-list-check"></i>{{bullet}}
      </li>
    </ul>
  </div>

</div>


