<div class="row package-container">

    <div class="col-md-4">
        <app-package [package]="package1"></app-package>
        <button type="button" class="btn package-button" (click)="onNext()">Learn More</button>
    </div>

    <div class="col-md-4">
        <div class="pl-3 pr-3">
        <app-package [package]="package2"></app-package>
        <button type="button" class="btn package-button" (click)="onNext()">Learn More</button>
        </div>
    </div>

    <div class="col-md-4">
        <app-package [package]="package3"></app-package>
        <button type="button" class="btn package-button" (click)="onNext()">Learn More</button>
    </div>


</div>

