@import 'global-variables';

.package {

    &-container {
        max-width: 1000px;

        @media (min-width: 768px) {
            padding-bottom: 40px;
        }
    }

    &-image {

        @media (min-width: 768px) {
            height: 200px;
        }

        @media (min-width: 1200px) {
            height: 260px;
        }
    }

    &-meta {
        margin-bottom: 10px;

        &-title {
            @include secondary-d(16px);
            padding-bottom: 10px;
        }

        &-price {
            @include secondary(14px);
            font-weight: 400;
        }

        &-details {
            @include secondary(14px);
        }

        @media (min-width: 768px) {
            height: 130px;
        }

        @media (min-width: 1200px) {
            height: 130px;
        }
    }

    &-description {
        font-weight: 400;

        @media (min-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &-action {
        display: block;
        padding-bottom: 60px;

        @media (min-width: 768px) {
            height: 120px;
        }

        @media (min-width: 1200px) {
            height: 120px;
        }
    }

    &-button {
        @include button-secondary();
        display: block;
        margin: 0 auto;

        @media (min-width: 768px) {
            width: 75%;
        }
    }
}
