.btn-circle.btn-xl {
    width: 75px;
    height: 75px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 32pt;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 32pt;
    line-height: 1.42857;
}

@mixin logo() {
    content: url("./assets/images/wl-logo.png");
}
