<app-header></app-header>

<div class="container has-header">

    <carousel *mobxAutorun>

        <app-application-slide
            [width]="'col-md-6'"
            [text]="messages.industrySelectionSlide"
            (prev)="prev()" (next)="next()">
            <app-industry-selector #innerSlide></app-industry-selector>

        </app-application-slide>

        <app-application-slide
            [width]="'col-md-8'"
            [text]="messages.packageSelectionSlide"
            (prev)="prev()" (next)="next()">
            <app-packages #innerSlide (prev)="prev()" (next)="next()"></app-packages>
        </app-application-slide>

        <!-- VALIDATES=FALSE SHOULD BE REMOVED EVENTUALLY ONCE THE FORM WORKS -->
        <app-application-slide
            [validate]="false"
            [width]="'col-md-8'"
            [text]="messages.packageDetailsSlide"
            (prev)="prev()" (next)="next()">
            <app-package-details #innerSlide  (prev)="prev()" (next)="next()"></app-package-details>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-8'"
            [text]="messages.pricingSelectionSlide"
            (prev)="prev()" (next)="next()">
            <app-pricing #innerSlide (prev)="prev()" (next)="next()"></app-pricing>
        </app-application-slide>

        <app-application-slide
            [validate]="false"
            [width]="'col-md-8'"
            [text]="messages.cartSlide"
            (prev)="prev()" (next)="next()">
            <app-cart #innerSlide (prev)="prev()" (next)="next()"></app-cart>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-8'"
            [text]="messages.searchSlide"
            (prev)="prev()" (next)="next()">
            <tg-search #innerSlide (prev)="prev()" (next)="next()"></tg-search>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-8'"
            [progress]="store.progress" [index]="0"
            [text]="messages.businessInfoSlide"
            (prev)="prev()" (next)="next()">
            <tg-business-info #innerSlide></tg-business-info>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-8'"
            [progress]="store.progress" [index]="1"
            [text]="messages.businessAddressesSlide"
            (prev)="prev()" (next)="next()">
            <tg-business-addresses #innerSlide></tg-business-addresses>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-8'"
            [progress]="store.progress" [index]="2"
            [text]="messages.ownerInformationSlide"
            (prev)="prev()" (next)="next()">
            <tg-personal-info #innerSlide></tg-personal-info>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-8'"
            [progress]="store.progress" [index]="3"
            [text]="messages.bankInformationSlide"
            (prev)="prev()" (next)="next()">
            <tg-bank-info #innerSlide></tg-bank-info>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-6'"
            [text]="messages.identityVerificationSlide"
            (prev)="prev()" (next)="next()">
            <app-identity-verification #innerSlide></app-identity-verification>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-8'"
            [progress]="store.progress" [index]="4"
            [text]="messages.termsAndConditionsSlide"
            (prev)="prev()" (next)="next()">
            <tg-terms-and-conditions #innerSlide></tg-terms-and-conditions>
        </app-application-slide>

        <app-application-slide
            [width]="'col-md-10'"
            [text]="messages.applicationSummarySlide"
            (prev)="prev()" (next)="next()">
            <app-application-summary #innerSlide></app-application-summary>
        </app-application-slide>

        <app-application-slide
            [validate]="false"
            [width]="'col-md-8'"
            [text]="messages.paymentSlide"
            (prev)="prev()" (next)="next()">
            <app-payment #innerSlide></app-payment>
        </app-application-slide>


        <app-application-slide
            [validate]="false"
            [width]="'col-md-8'"
            [text]="messages.congratsSlide">
            <app-congrats #innerSlide></app-congrats>
        </app-application-slide>


    </carousel>

    <!--
    <div class="chat-popup">
        <button type="button" class="btn btn-default btn-circle btn-xl"><i class="fab fa-rocketchat"></i></button>
    </div>
    -->

</div>
<app-footer></app-footer>
