<div class="content text-center industry-selector">

    <p class="secondary-12-d">select one:</p>

    <carousel>
        <slide>
            <app-industry-panel [categories]="categories1"></app-industry-panel>
        </slide>

        <slide>
            <app-industry-panel [categories]="categories2" [offset]="6"></app-industry-panel>
        </slide>
    </carousel>

    <div class="carousel-arrow-container">


        <a class="carousel-arrow carousel-arrow--left" (click)="backSlide()" tabindex="0">
            <i class="fa fa-angle-left"></i>
        </a>

        <a class="carousel-arrow carousel-arrow--right" (click)="nextSlide()" tabindex="1">
            <i class="fa fa-angle-right"></i>
        </a>

    </div>

</div>

