<div class="status-line mb-2">
    <div class="display-block">
        <div *ngIf="display1">
            <span class="status-line-item">{{text}}</span>
            <span *ngIf="!display2" class="saving"><span>.</span><span>.</span><span>.</span></span>
            <span *ngIf="display2">...</span>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <span *ngIf="display2 && pass" class="status-line-pass">Passed!</span>
            <span *ngIf="display2 && !pass" class="status-line-fail">Failed!</span>
        </div>
    </div>

    <div class="details" *ngIf="display1">
        <div class="display-block" *ngFor="let d of details">
            {{d}}
        </div>
    </div>

</div>
