@import 'global-variables';

.cart {

    &-item {

        &-title {
            @include secondary-d(18px);
            padding-bottom: 15px;   
        }

        &-description {
            @include secondary(14px);
        }
    }

    &-heading {
        @include secondary(14px);
        padding-bottom: 5px;
        font-weight: 400;
        color: $gray-dark;
    }

    &-order-details {
        @include secondary(14px);
        font-weight: 300;

        &-th {
            font-weight: inherit;
            padding-bottom: 5px;

            &--total {
                padding-top: 10px;
            }
        }

        &-th--big {
            font-weight: inherit;

            &--total {
                padding-top: 10px;
            }
        }

        &-th--small {
            font-size: 12px;
            font-weight: inherit;
            padding-bottom: 5px;

            &--total {
                padding-top: 10px;
            }
        }

        &-td {
            padding-left: 20px;
        }

        &-td--small {
            font-size: 12px;
            padding-left: 20px;
        }

        &-total {
            font-weight: bold;
        }
    }
}
