<div class="row">

    <div class="col-sm-12 col-md-3 offset-md-1 pl-0">
        <img src="./assets/images/Clover Flex.png" class="w-100"/>
    </div>

    <div class="col-sm-12 col-md-8 pl-lg-4">

        <div class="row pb-3 pb-4">
            <div class="col-sm-12">
                <h2 class="cart-item-title">Clover Swift Package</h2>
                <p class="cart-item-description">A complete point-of-sale package perfect for all restaurants, coffee shops, bars, and more. This quick service solution will keep your lines short, customers happy, and orders organized. Forget about all the stress, you’ll have no problem managing the busy lunch-rush with ease. </p>
            </div>
        </div>

        <form [formGroup]="form">

            <div class="row">

                <div class="col-md-7 pb-2">

                    <div class="row pb-3">
                        <div class="col-sm-12">
                            <p class="cart-heading">
                                Included Accessories
                            </p>

                            <tg-input-spinner [form]="form"
                                              [controlName]="'kitchenPrinter'"
                                              [control]="kitchenPrinter" [label]="'STAR Kitchen Printer'">
                            </tg-input-spinner>

                            <tg-input-spinner [form]="form"
                                              [controlName]="'paper'"
                                              [control]="paper" [label]="'Receipt Printer Paper'">
                            </tg-input-spinner>

                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col-sm-12">
                            <p class="cart-heading">
                                Optional Accessories
                            </p>

                            <tg-input-spinner [form]="form"
                                              [controlName]="'loginCard'"
                                              [control]="loginCard" [label]="'Employee Log-in Cards (10 pack)'">
                            </tg-input-spinner>

                            <tg-input-spinner [form]="form"
                                              [controlName]="'weightScale'"
                                              [control]="weightScale" [label]="'Weight Scale'">
                            </tg-input-spinner>

                        </div>
                    </div>

                </div>

                <div class="col-md-5">
                    <p class="cart-heading">Order Summary</p>

                    <table class="cart-order-details">
                        <tr class="cart-order-details-tr">
                            <th class="cart-order-details-th">Equipment</th>
                            <td class="cart-order-details-td">$299.99</td>
                        </tr>

                        <tr class="cart-order-details-tr">
                            <th class="cart-order-details-th">Shipping & Handling</th>
                            <td class="cart-order-details-td">$9.99</td>
                        </tr>

                        <tr class="cart-order-details-tr">
                            <th class="cart-order-details-th">Tax</th>
                            <td class="cart-order-details-td">$24.80</td>
                        </tr>

                        <tr class="cart-order-details-tr cart-order-details-total">
                            <th class="cart-order-details-th cart-order-details-th--total">Order Total</th>
                            <td class="cart-order-details-td">$334.78</td>
                        </tr>
                    </table>

                </div>

            </div>
            </form>


    </div>

</div>

