<div class="row pricing-container">

  <div class="col-md-4">
    <app-pricing-package [package]="package1"></app-pricing-package>
  </div>

  <div class="col-md-4">
    <div class="pl-3 pr-3">
      <app-pricing-package [package]="package2"></app-pricing-package>
    </div>
  </div>

  <div class="col-md-4">
    <app-pricing-package [package]="package3"></app-pricing-package>
  </div>


</div>

