@import 'global-variables';

.is-selected {
    border: 2px solid $accent-color;
}

.pricing {

    &-container {
        max-width: 1000px;

        @media (min-width: 768px) {
            padding-bottom: 40px;
        }
    }

    &-package {
        @include shadow-box($padding: 0);
        text-align: center;
        padding: 10pt;

        .is-selected {
            border: 2px solid $accent-color;
        }

    }

    .is-selected {
        border: 2px solid $accent-color;
    }

    &-image {

        @media (min-width: 768px) {
            height: 200px;
        }

        @media (min-width: 1200px) {
            height: 260px;
        }
    }

    &-meta {
        margin-bottom: 10px;

        &-title {
            @include secondary-d(16px);
            padding-bottom: 10px;
        }

        &-headline {
            @include secondary(12px);
            padding-bottom: 10px;
        }

        &-price {
            @include secondary-d(24px);
        }

        &-price2 {
            @include secondary(12px);
            font-weight: 400;
        }

        &-price-subheading {
            @include secondary(12px);
            font-weight: 400;
        }

        &-details {
            @include secondary(14px);
        }

        @media (min-width: 768px) {
            height: 130px;
        }

        @media (min-width: 1200px) {
            height: 130px;
        }
    }

    &-description {
        font-weight: 400;

        @media (min-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &-action {
        display: block;
        padding-bottom: 60px;

        @media (min-width: 768px) {
            height: 120px;
        }

        @media (min-width: 1200px) {
            height: 120px;
        }
    }

    &-button {
        @include button-secondary();
        display: block;
        margin: 0 auto;

        @media (min-width: 768px) {
            width: 75%;
        }
    }
}
