<div [class.is-selected]="selected">

  <div class="pricing-package">

    <div class="pricing-meta mt-3">
      <p class="pricing-meta-title">
        {{package.name}}
      </p>

      <p class="pricing-meta-headline">
        {{package.headline}}
      </p>

      <p class="pricing-meta-price mt-3">
        {{package.cost}}
        <span class="pricing-meta-price2">{{package.cost2}}</span>
      </p>
      <p class="pricing-meta-price-subheading">
        {{package.costHeadline}}
      </p>
    </div>

    <div class="pricing-action mt-5 ml-3">

      <div class="pricing-description mt-3">
        <ul class="check-list">
          <li *ngFor="let bullet of package.bullets">
            <i class="fa fa-check check-list-check"></i>{{bullet}}
          </li>
        </ul>
      </div>
    </div>

    <button type="button" class="btn" (click)="select()">{{package.button}}</button>

  </div>
</div>
