@import 'global-variables';

.package {

    &-title {
        @include secondary-d(18px);
        padding-bottom: 15px;
    }

    &-image {
        display: block;
        padding-bottom: 20px;

        &-outer {
            @media (min-width: 768px) {
                padding-left: 0;
            }
        }
    }

    &-price {
        @include secondary-d(24px);
        display: block;
        padding-bottom: 20px;

        @media (min-width: 768px) {
            padding-bottom: 40px;
        }
    }

    &-description {
        @include secondary(14px);
    }

    &-list {

        li {
            @include secondary(14px);
            padding-bottom: 5px;
        }
    }

    &-detail {

        &-heading {
            @include secondary(14px);
            padding-bottom: 10px;
            font-weight: 400;
            color: $gray-dark;
        }
    }

    &-contents {

        &--small {
            display: block;

            @media (min-width: 768px) {
                display: none;
            }
        }

        &--large {
            display: none;

            @media (min-width: 768px) {
                display: block;
            }
        }
    }

    .check-list {

        li {

            @media (min-width: 992px) {
                float: left;
                width: 50%;
                padding-right: 10px;

                &:nth-child(odd) {
                    clear:both;
                }
            }
        }
    }
}
