<div class="row">

    <div class="col-md-3 offset-md-1 package-image-outer">

        <div class="row">

            <div class="col-sm-12 package-image">
                <img src="./assets/images/Clover Flex.png" class="w-100 h-100"/>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">
                <p class="package-price">$299.99</p>
            </div>

        </div>


        <div class="row">

            <div class="col-sm-12 package-contents--large pb-3">

                <h2 class="package-detail-heading">Package Contains:</h2>

                <ul class="package-list">
                    <li>1 Clover Mini with Register Lite Software</li>
                    <li>1 Connectivity Hub</li>
                    <li>1 STAR Kitchen Printer</li>
                    <li>25 rolls of receipt printer paper</li>
                </ul>

            </div>

        </div>

    </div>

    <div class="col-md-8 pl-lg-4">

        <div class="row">

            <div class="col-sm-12 pb-3 pb-lg-4">

                <h1 class="package-title">Clover Swift Package</h1>

                <p class="package-description">A complete point-of-sale package perfect for all restaurants, coffee shops, bars, and more. This quick service solution will keep your lines short, customers happy, and orders organized. Forget about all the stress, you’ll have no problem managing the busy lunch-rush with ease. </p>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-12 package-contents--small pb-3">

                <h2 class="package-detail-heading">Package Contains:</h2>

                <ul class="package-list">
                    <li>1 Clover Mini with Register Lite Software</li>
                    <li>1 Connectivity Hub</li>
                    <li>1 STAR Kitchen Printer</li>
                    <li>25 rolls of receipt printer paper</li>
                </ul>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-12 col-lg-10 pb-3">

                <h2 class="package-detail-heading pb-3">Product Details</h2>

                <ul class="check-list check-list--two-column">
                    <li>
                        <i class="fa fa-check check-list-check"></i>
                        Great for coffee shops, bars, one-counter businesses.
                    </li>
                    <li>
                        <i class="fa fa-check check-list-check"></i>
                        Provides quick and efficient service.
                    </li>
                    <li>
                        <i class="fa fa-check check-list-check"></i>
                        Track customers with loyalty program.
                    </li>
                    <li>
                        <i class="fa fa-check check-list-check"></i>
                        Single power source for display and printer.
                    </li>
                    <li>
                        <i class="fa fa-check check-list-check"></i>
                        TransArmor Data Protection. Learn more...
                    </li>
                </ul>

            </div>

        </div>

    </div>

</div>

