<div class="category-container">

    <!--
    <tg-selection-panel *ngFor="let category of categories; let index = index;" [category]="category"></tg-selection-panel>
    -->



    <div *ngFor="let category of categories; let index = index;" class="category"
             [ngClass]="{ 'is-selected': isSelected(index) }"
             (click)="select(index)">

        <div class="category-inner">

            <i *ngIf="category.fa" class="{{category.fa}} category-icon"></i>

            <span *ngIf="category.map" class="{{category.map}} category-icon"></span>

            <span *ngIf="category.mi" class="material-icons category-icon">{{category.mi}}</span>

            <span class="category-name">{{category.name}}</span>

        </div>

    </div>


    <div class="category"
             [ngClass]="{ 'is-selected': isSelected(5) }"
             (click)="select(5)">

        <div class="category-inner">

            <span class="category-name">Other</span>

        </div>
    </div>

</div>
