<div class="congrats">
    <p class="congrats-confirmation">{{ messages.equipmentOnItsWay }}</p>
    <div class="congrats-icon-container">
        <i class="fas fa-check congrats-icon"></i>
    </div>
    <p class="congrats-order-number">{{ messages.orderNumber }} a923Xa</p>
    <p class="congrats-details">{{ messages.checkInbox}}</p>
</div>
