@import 'global-variables';

.congrats {
    text-align: center;

    &-icon {
        padding: 30px;
        border: 1px solid $gray-light;
        font-size: 70px;
        color: $accent-color;
        border-radius: 50%;

        &-container {
            padding-bottom: 25px;
            text-align: center;
        }
    }

    &-confirmation {
        @include secondary(18px);
        padding-bottom: 25px;
    }

    &-order-number {
        @include secondary(14px);
        padding-bottom: 10px;
        font-weight: 400;
        color: $secondary-accent-color;
    }

    &-details {
        @include secondary(16px);
    }
}
