<form [formGroup]="form" autocomplete="blaah">

    <div class="row form-heading">
        <div class="col-sm-12">
        <fieldset>
            <legend class="form-heading-title">
                Payment Method
            </legend>

            <div class="form-option--adjacent">
                <input class="form-option-input" type="radio" id="creditCard" name="paymentOption" value="creditCard"/>
                <label class="form-option-label" for="creditCard">
                    Credit/Debit Card
                </label>
            </div>

            <div class="form-option--adjacent">
                <input class="form-option-input" type="radio" id="bankAccount" name="paymentOption" value="bankAccount"/>
                <label class="form-option-label" for="bankAccount">
                    Bank Account
                </label>
            </div>
        </fieldset>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 form-group">
            <input [id]="id+3" formControlName="ccName" class="form-control" type="text" required>
            <label class="form-label" [for]="id+3">Name on Card</label>
            <app-field-error [control]="ccName"></app-field-error>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 form-group">
            <input [id]="id+4" formControlName="ccNumber" class="form-control" type="text"
                   autocomplete="nothing"
                   [textMask]="masks.creditCard">
            <label class="form-label" [for]="id+4">Card Number</label>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 col-lg-4 form-group">
            <input [id]="id+5" formControlName="ccMonth" class="form-control" type="text"
                   [textMask]="masks.taxId">
            <label class="form-label" [for]="id+5">Exp Month</label>
        </div>

        <div class="col-sm-12 col-lg-4 form-group">
            <input [id]="id+6" formControlName="ccYear" class="form-control" type="text"
                   [textMask]="masks.creditCardYear">
            <label class="form-label" [for]="id+6">Exp Year</label>
        </div>

        <div class="col-sm-12 col-lg-4 form-group">
            <input [id]="id+7" formControlName="ccv" class="form-control" id="ccv" type="text"
                   [textMask]="masks.creditCardCode">
            <label class="form-label" [for]="id+7">CVV</label>
        </div>

    </div>

</form>
